@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

#wrapper {
  height: fit-content;
  padding-left: 20px;
}

#gridWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #121212;
}

/* #highlightInputWrapper {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 30px;
} */

#highlightInput {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 30px;
  text-align: center;
  display: block;
  margin: auto;
  background-color: #121212;
  border: none;
  color: white;
  padding-top: auto;
  padding-bottom: auto;
  width: 90%;
}

.button {
  background-color: #313131;
  color: white;
  border: none;
  height: 30px;
}

.button:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

#highlightButton {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#resetButton {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#hermitcraftButton {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
