@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

li, span {
  color: white;
  mix-blend-mode: difference;
}

input {
  height: 30px;
  font-size: 1.4rem;
  color: white;
  background-color: #121212;
  text-align: center;
  border: none;
}

#highlightBreakLine {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 12px;
}

#highlight {
  padding-left: 24px;
}

#gridWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

#highlightInput {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#highlightInput:focus {
  outline: none !important;
  box-shadow: 0 0 10px #313131;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #313131;
  font-size: 1.4rem;
  color: white;
  border: none;
}

.button:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

#highlightButton {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 6px 3px 6px 0;
}

#autoHighlightAddButton {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 6px 3px 6px 0;
}

#resetButton {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 6px 0 6px 3px;
}

#toggleButton {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0 0 6px 0;
}

.icon {
  height: 16px;
  width: 16px;
  margin: auto auto;
  text-align: center;
}

.buttonText {
  margin: auto auto;
  margin-left: 0;
  font-size: 1.4rem;
  color: white;
}

#autoHighlightAddText {
  padding: 0 10px;
}

.keyword {
  font-size: 1.4rem;
  user-select: none;
  cursor: pointer;
  list-style: none;
  padding: 5px 0 0 0 !important;
}

.keyword::after {
  margin-left: 5px;
  content: attr(data-count);
}

.highlighted {
  /* background-color: rgba(127, 127, 127, 0.2); */
  background-color: rgba(255, 0, 0, 0.3);
  animation: blinker 2s linear infinite;
}

.highlighted:hover {
  background-color: transparent;
}

@keyframes blinker {
  50% {
    background-color: transparent;
  }
}

/* autoHighlight */