* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  accent-color: red;
}

header {
  border-bottom: 1px solid #cccccc;
  padding: 15px 15px 10px 15px;
}

h1 {
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

p {
  text-align: justify;
}

ul {
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
}

#outerWrapper {
  padding: 0 15px 15px 15px;
}

#infoWrapper p {
  margin-top: 5px;
}

#defaultsWrapper {
  display: flex;
}

#defaultsWrapper button {
  margin-top: 15px;
  margin-left: 15px;
  width: 70px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.4);
}

#defaultsWrapper button:hover {
  background-color: #d60000;
}

footer {
  border-top: 1px solid #cccccc;
  padding: 10px 15px 15px 15px;
  display: flex;
  justify-content: center;
}

footer li {
  display: inline-block;
  padding: 0 10px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}