:root {
  --theme-color: red;
  --theme-color-hover: #d60000;
  --width: 320px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  accent-color: var(--theme-color);
  width: var(--width);
  height: 550px;
  font-size: 0.85em;
}

.hidden {
  display: none;
}

/* header */
header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #cccccc;
  padding: 15px 15px 10px 15px;
}

img {
  user-select: none;
}

#version {
  margin-top: 25px;
  margin-left: -10px;
  font-size: 1.3em;
  font-weight: bold;
}

/* body */
h1 {
  margin-top: 15px;
  font-size: 1.8em;
  font-weight: bold;
  user-select: none;
}

p {
  user-select: none;
}

input:hover,
label:hover {
  cursor: pointer;
}

.info {
  text-align: justify;
}

ul {
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
  user-select: none;
}

.feature-information {
  display: none;
}

#feature-information-location {
  margin-top: 5px !important;
}

#outerWrapper {
  padding: 0 15px 15px 15px;
}

#infoWrapper p {
  margin-top: 10px;
}

#infoWrapper p:first-of-type {
  margin-top: 5px;
}

#infoWrapper ul {
  list-style: disc;
  margin-left: 16px;
  margin-top: 0;
}

/* footer */
footer {
  position: absolute;
  width: var(--width);
  bottom: 0;
}

#linksWrapper {
  border-top: 1px solid #cccccc;
  padding: 10px 15px 15px 15px;
  display: flex;
  justify-content: center;
}

#linksWrapper li {
  display: inline-block;
  padding: 0 10px;
}

#linksWrapper a {
  text-decoration: none;
  color: black;
}

#linksWrapper a:hover {
  text-decoration: underline;
}

#defaultsWrapper {
  display: flex;
  padding: 0 15px 15px 15px;
}

#defaultsWrapper button {
  margin-top: 15px;
  margin-left: 15px;
  width: 70px;
  background-color: var(--theme-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.4);
  user-select: none;
}

#defaultsWrapper button:hover {
  background-color: var(--theme-color-hover);
}